## Importing datasets and libraries

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

y6 = pd.read_csv(r'..\datasets\2006.csv') # Imporitng 2006 data
y7 = pd.read_csv(r'..\datasets\2007.csv') # Importing 2007 data

full_set = pd.concat([y6, y7])  # Combining flight data of both years together, 2006 on top of 2007
full_set

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [3]:
# Importing datasets of airports, carriers and planes

airports = pd.read_csv(r'..\datasets\airports.csv')
carriers = pd.read_csv(r'..\datasets\carriers.csv')
planedata = pd.read_csv(r'..\datasets\plane-data.csv')

## Cleaning the data

In [4]:
pd.isnull(full_set).sum(axis=0) # Looking for NA values in flight dataset

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                282682
CRSDepTime                  0
ArrTime                316047
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                    22
ActualElapsedTime      316047
CRSElapsedTime            998
AirTime                316047
ArrDelay               316047
DepDelay               282682
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14312454
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [18]:
# Removing NA values in "ArrTime" column

fullset1 = full_set.dropna(axis=0, subset= ["ArrTime"], how='any') 
pd.isnull(fullset1).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                     0
CRSDepTime                  0
ArrTime                     0
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                     0
ActualElapsedTime           0
CRSElapsedTime              0
AirTime                     0
ArrDelay                    0
DepDelay                    0
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14279089
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [20]:
fullset1 = fullset1.dropna(axis=1, how='any') # Removing columns with any null values

In [17]:
# Confirming all null values are removed

pd.isnull(fullset1).sum(axis=0)

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
CRSDepTime           0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [27]:
# Repeating process for other datasets

pd.isnull(airports).sum(axis=0)

iata        0
airport     0
city       12
state      12
country     0
lat         0
long        0
dtype: int64

In [33]:
airports1 = airports.dropna(axis=0, how='any')
pd.isnull(airports1).sum(axis=0)

iata       0
airport    0
city       0
state      0
country    0
lat        0
long       0
dtype: int64

In [31]:
pd.isnull(carriers).sum(axis=0)

Code           1
Description    0
dtype: int64

In [4]:
carriers1 = carriers.dropna(axis=0, how ='any' )
pd.isnull(carriers1).sum(axis=0)

Code           0
Description    0
dtype: int64

In [39]:
pd.isnull(planedata).sum(axis=0)

tailnum            0
type             549
manufacturer     549
issue_date       549
model            549
status           549
aircraft_type    549
engine_type      549
year             549
dtype: int64

In [6]:
planedata1 = planedata.dropna(axis=0, how='any')
pd.isnull(planedata1).sum(axis=0)

tailnum          0
type             0
manufacturer     0
issue_date       0
model            0
status           0
aircraft_type    0
engine_type      0
year             0
dtype: int64

## Exporting cleaned datasets

In [42]:
airports1.to_csv('../datasets/airports cleaned.csv')

In [43]:
planedata1.to_csv('../datasets/plane data cleaned.csv')
carriers1.to_csv('../datasets/carriers cleaned.csv')

In [45]:
fullset1.to_csv('../datasets/fullset cleaned.csv')